openapi: 3.0.0
info:
  version: 1.0.0
  title: 'exitgift.shop API'
  description: ''
servers:
  - description: 'exitgift.shop API'
    url: https://back.exitgift.shop:4000
tags:
  - name: User
  - name: File
  - name: Art
  - name: Auction
  - name: Puzzle
  - name: Paddle
  - name: Likes
  - name: Bid
paths:
  /user:
    get:
      tags:
        - User
      summary: Users list
      description: Returns a Users list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/user'
        404 :
          description: user not found
  /user/signup:
    post:
      tags:
        - User 
      summary: Create user
      description: Create user
      produces:
        - application/json
      parameters:
        - name: email
          in: string
          description: email adress
          required: true
          schema:
            type: string
        - name: password
          in: string
          description: password
          required: true
          schema:
            type: string
        - name: nickname
          in: string
          description: nickname
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user-signup'
        409:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user-signup-duplicate'
        422:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user-signup-err'
  /user/signin:
    post:
      tags:
        - User
      summary: Signin
      description: Signin
      parameters:
        - name: email
          in: string
          description: email adress
          required: true
          schema:
            type: string
        - name: password
          in: string
          description: password
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user-signin'
        409:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user-signin-err'
  /user/signout:
    post:
      tags:
        - User
      summary: Signout
      description: Signout
      produces:
        - application/json
      responses:
        default:
          description: successful operation
  /user/refreshToken:
    get:
      tags:
        - User
      summary : RefreshToken
      description: UserInfo
      produces:
        - application/json
      responses:
        200:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/user-refreshToken'

  /account/{uuid}:
    get:
      tags:
        - User
      parameters:
        - name: uuid
          description: uuid
          
  /paddle:
    get:
      tags:
        - Paddle
    post:
      tags:
        - Paddle
    put:
      tags:
        - Paddle
    delete:
      tags:
        - Paddle
  /likes:
    get:
      tags:
        - Likes
    post:
      tags:
        - Likes
    put:
      tags:
        - Likes
    delete:
      tags:
        - Likes
  /bid:
    get:
      tags:
        - Bid
    post:
      tags:
        - Bid
    put:
      tags:
        - Bid
    delete:
      tags:
        - Bid
  /file:
    get:
      tags:
        - File
      summary: files list
      description: Returns a file list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/file'
        404 :
          description: file not found
    
  /file/{id}:
    get:
      tags:
        - File
      summary: Find file by ID
      description: Returns a single file
      parameters:
        - name: id
          in: path
          description: ID of file
          required: true
          schema:
            type: integer
      responses:
        200:
          description: binary file (img/ video)
          content:
            image:
              schema:
                type: string
                format: binary
            video:
              schema:
                type: string
                format: binary
        400:
          description: id is required
        404 :
          description: file not found
  /art:
    get:
      tags:
        - Art
      summary: Arts List
      description: Returns a Art List
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/art-list'
        404 :
          description: file not found
    post:
      tags:
        - Art
      summary: Add Art
      description: Returns a Uploaded Art
      requestBody:
        description: Art to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/art-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'

  /art/{uuid}:
    get:
      tags:
        - Art
      summary: Find art by uuid
      description: Returns a single Art
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    put:
      tags:
        - Art
      summary: Update Art
      description: Returns a Updated Art Property
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      requestBody:
        description: Art to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/art-put-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Art
      summary: Delete Art
      description: Returns a Deleted Art Property
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /art/user/{uuid}:
    get:
      tags:
        - Art
      summary: Find art by User uuid
      description: Returns a single Art
      parameters:
        - name: uuid
          in: path
          description: User uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'      
  /auction:
    get:
      tags:
        - Auction
      summary: Auctions List
      description: Returns a Auctions List
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/auction-list'
        404 :
          description: file not found
    post:
      tags:
        - Auction
      summary: Add Auction
      description: Returns a Uploaded Auction
      requestBody:
        description: Auction to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auction-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Auction
      summary: Delete Auction
      description: Returns a Deleted Auction Property
      parameters:
        - name: uuid
          in: path
          description: Auction uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'

  /auction/{uuid}:
    get:
      tags:
        - Auction
      summary: Find Auction by uuid
      description: Returns a single Auction
      parameters:
        - name: uuid
          in: path
          description: Auction uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    put:
      tags:
        - Auction
      summary: Update Auction
      description: Returns a Updated Auction Property
      parameters:
        - name: uuid
          in: path
          description: Auction uuid
          required: true
          schema:
            type: string
      requestBody:
        description: Auction to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auction-put-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /auction/art/{uuid}:
    get:
      tags:
        - Auction
      summary: Find auction by Art uuid
      description: Returns a single Auction
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json' 
  /puzzle:
    get:
      tags:
        - Puzzle
      summary: puzzles list
      description: Returns a puzzles list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/puzzle'
        404 :
          description: puzzle not found
    post:
      tags:
        - Puzzle
      summary: Add Puzzle
      description: Returns a Uploaded puzzle
      requestBody:
        description: puzzle to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/puzzle-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /puzzle/{uuid}:
    get:
      tags:
        - Puzzle
      summary: Find art by uuid
      description: Returns a single Puzzle
      parameters:
        - name: uuid
          in: path
          description: Puzzle uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Puzzle
      summary: Delete Puzzle
      description: Returns a Deleted Puzzle Property
      parameters:
        - name: uuid
          in: path
          description: Puzzle uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /puzzle/art/{uuid}:
    get:
      tags:
        - Puzzle
      summary: Find puzzle by art uuid
      description: Returns a puzzles
      parameters:
        - name: uuid
          in: path
          description: art uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /puzzle/user/{uuid}:
    get:
      tags:
        - Puzzle
      summary: Find puzzle by user uuid
      description: Returns a puzzles
      parameters:
        - name: uuid
          in: path
          description: user uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                            
components:
  schemas:
    user:
      type: object
      properties:
        uuid:
          type: string
          example: 77e7b639-440f-4d32-86e6-165634070645
        user_use_currency:
          type: string
          example: $
        user_use_language:
          type: string
          example: $
        user_password:
          type: string
          example: '989789789789789789789789789789789'
        user_email:
          type: string
          example: 111@naver.com
        user_nick:
          type: string
          example: dobi
        wallet_now_deposit:
          type: decimal
          example: 0
        wallet_now_coin:
          type: decimal
          example: 0
        createdAt:
          example: "2021-03-18T09:16:29.000Z"
        updatedAt:
          example: "2021-03-18T09:16:29.000Z"
    user-signup:
      type: object
      properties:
        msg:
          type: string
          example: created ok
    user-signup-duplicate:
      type: object
      properties:
        msg:
          type: string
          example: duplicate email
    user-signup-err:
      type: object
      properties:
        msg:
          type: string
          example: need more information
    user-signin:
      type: object
      properties:
        data:
          type: object
          example:
            accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwidXVpZCI6ImM3MjYzOTNlLTQ2ZDYtNGFkNS05NzY0LTBkYzhmZTBhMDU2OCIsInVzZXJfdXNlX2N1cnJlbmN5IjoiJCIsInVzZXJfdXNlX2xhbmd1YWdlIjoia29yIiwidXNlcl90eXBlIjoiZ3Vlc3QiLCJ1c2VyX2VtYWlsIjoiZ3Vlc3RAZ3Vlc3QuY29tIiwidXNlcl9uaWNrIjoiZ3Vlc3QiLCJ3YWxsZXRfbm93X2RlcG9zaXQiOjEwMDAwMDAwLCJ3YWxsZXRfbm93X2NvaW4iOjEwMCwiY3JlYXRlZEF0IjoiMjAyMS0wMy0xOFQwOToxNjoyOS4wMDBaIiwidXBkYXRlZEF0IjoiMjAyMS0wMy0xOFQwOToxNjoyOS4wMDBaIiwiaWF0IjoxNjE2MjI1NDg2LCJleHAiOjE2MTYyMjU1MDF9.Vwj6InS6cTrxOLmT1e6tnZHJhoevUF6ikEoNH6XMne8
        msg:
          type: string
          example: ok
    user-refreshToken:
      type: object
      properties:
        data:
          type: object
          example:
            accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MiwidXVpZCI6ImM3MjYzOTNlLTQ2ZDYtNGFkNS05NzY0LTBkYzhmZTBhMDU2OCIsInVzZXJfdXNlX2N1cnJlbmN5IjoiJCIsInVzZXJfdXNlX2xhbmd1YWdlIjoia29yIiwidXNlcl90eXBlIjoiZ3Vlc3QiLCJ1c2VyX2VtYWlsIjoiZ3Vlc3RAZ3Vlc3QuY29tIiwidXNlcl9uaWNrIjoiZ3Vlc3QiLCJ3YWxsZXRfbm93X2RlcG9zaXQiOjEwMDAwMDAwLCJ3YWxsZXRfbm93X2NvaW4iOjEwMCwiY3JlYXRlZEF0IjoiMjAyMS0wMy0xOFQwOToxNjoyOS4wMDBaIiwidXBkYXRlZEF0IjoiMjAyMS0wMy0xOFQwOToxNjoyOS4wMDBaIiwiaWF0IjoxNjE2MjI1NDg2LCJleHAiOjE2MTYyMjU1MDF9.Vwj6InS6cTrxOLmT1e6tnZHJhoevUF6ikEoNH6XMne8
            userInfo:
              id: 2
              uuid: c726393e-46d6-4ad5-9764-0dc8fe0a0568
              user_use_currency: $
              user_use_language: kor
              user_type: guest,
              user_email: guest@guest.com
              user_nick: guest
              wallet_now_deposit: 10000000
              wallet_now_coin: 100
              createdAt: "2021-03-18T09:16:29.000Z"
              updatedAt: "2021-03-18T09:16:29.000Z"
        msg:
          type: string
          example: ok
    user-signin-err:
      type: object
      properties:
        msg:
          type: string
          example: not authorized

    client-err-json:
      type: object
      properties:
        msg:
          type: string
          example: uuid is required
    server-err-json:
      type: object
      properties:
        msg:
          type: string
          example: title already exist

    file:
      type: object
      properties:
        id:
          type: integer
          format: id
          example: 1
        file_name:
          type: string
          example: picture.png

    art-list:
      type: object
      properties:
        art_file_id:
          type: integer
          format: id
          example: 1
        art_artist_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        art_title:
          type: string
          example: test title
        art_desc:
          type: string
          example: test desc
        art_twitter:
          type: string
          example: test twit
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    art-post-json:
      type: object
      properties:
        file_id:
          type: integer
          format: id
          example: 1
        artist_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        title:
          type: string
          example: testTitle
        desc:
          type: string
          example: testDesc
        twitter:
          type: string
          example: testDesc

    art-put-json:
      type: object
      properties:
        desc:
          type: string
          example: testDesc
        twitter:
          type: string
          example: testDesc


    auction-list:
      type: object
      properties:
        art_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        auction_end_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        auction_hammer_price:
          type: number
          example: 10000
        auction_now_price:
          type: number
          example: 1000
        auction_link:
          type: string
          example: "https://exitgift.shop/ongoing"
        auction_start_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    auction-post-json:
      type: object
      properties:
        art_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        start_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        end_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        hammer_price:
          type: number
          example: 10000
        now_price:
          type: number
          example: 1000
        link:
          type: string
          example: "https://exitgift.shop/ongoing"
    auction-put-json:
      type: object
      properties:
        hammer_price:
          type: number
          example: 200000
        now_price:
          type: number
          example: 1000

    puzzle-list:
      type: object
      properties:
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        art_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        price:
          type: number
          example: 10000
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    puzzle-post-json:
      type: object
      properties:
        art_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        price:
          type: number
          example: 1000