openapi: 3.0.0
info:
  version: 1.0.0
  title: 'exitgift.shop API'
  description: ''
servers:
  - description: 'exitgift.shop API'
    url: https://back.exitgift.shop:4000
tags:
  - name: User
  - name: File
  - name: Puzzle
  - name: Paddle
  - name: Likes
  - name: Bid
  - name: Art
  - name: Auction
paths:
  /signup:
    post:
      tags:
        - User
  /signin:
    post:
      tags:
        - User
  /signout:
    post:
      tags:
        - User
      parameters:
        - name: body
          description: json
  /account/{uuid}:
    get:
      tags:
        - User
      parameters:
        - name: uuid
          description: uuid
  /puzzle:
    get:
      tags:
        - Puzzle
    post:
      tags:
        - Puzzle
    put:
      tags:
        - Puzzle
    delete:
      tags:
        - Puzzle
  /paddle:
    get:
      tags:
        - Paddle
    post:
      tags:
        - Paddle
    put:
      tags:
        - Paddle
    delete:
      tags:
        - Paddle
  /likes:
    get:
      tags:
        - Likes
    post:
      tags:
        - Likes
    put:
      tags:
        - Likes
    delete:
      tags:
        - Likes
  /bid:
    get:
      tags:
        - Bid
    post:
      tags:
        - Bid
    put:
      tags:
        - Bid
    delete:
      tags:
        - Bid
  /file:
    get:
      tags:
        - File
      summary: files list
      description: Returns a list of file
      responses:
        200:
          description: search results matching criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/file'
        404 :
          description: file not found
    
  /file/{fileId}:
    get:
      tags:
        - File
      summary: Find file by ID
      description: Returns a single file
      parameters:
        - name: fileId
          in: path
          description: ID of file
          required: true
          schema:
            type: integer
      responses:
        200:
          description: binary file (img/ video)
          content:
            image:
              schema:
                type: string
                format: binary
            video:
              schema:
                type: string
                format: binary
        400:
          description: id is required
        404 :
          description: file not found
  /art:
    get:
      tags:
        - Art
    post:
      tags:
        - Art
    put:
      tags:
        - Art
    delete:
      tags:
        - Art
  /auction:
    get:
      tags:
        - Auction
    post:
      tags:
        - Auction
    put:
      tags:
        - Auction
    delete:
      tags:
        - Auction

components:
  schemas:
    file:
      type: object
      properties:
        id:
          type: integer
          format: id
          example: 1
        file_name:
          type: string
          example: picture.png