openapi: 3.0.0
info:
  version: 1.0.0
  title: 'exitgift.shop API'
  description: ''
servers:
  - description: 'exitgift.shop API'
    url: https://back.exitgift.shop:4000/docs
tags:
  - name: User
  - name: Puzzle
  - name: Paddle
  - name: Like
  - name: Bid
  - name: File
  - name: Art
  - name: Action
paths:
  /signup:
    post:
      tags:
        - User
  /signin:
    post:
      tags:
        - User
  /signout:
    post:
      tags:
        - User
      parameters:
        - name: body
          description: json
  /account/{uuid}:
    get:
      tags:
        - User
      parameters:
        - name: uuid
          description: uuid
  /puzzle:
    get:
      tags:
        - Puzzle
    post:
      tags:
        - Puzzle
    put:
      tags:
        - Puzzle
    delete:
      tags:
        - Puzzle
  /paddle:
    get:
      tags:
        - Paddle
    post:
      tags:
        - Paddle
    put:
      tags:
        - Paddle
    delete:
      tags:
        - Paddle
  /like:
    get:
      tags:
        - Like
    post:
      tags:
        - Like
    put:
      tags:
        - Like
    delete:
      tags:
        - Like
  /bid:
    get:
      tags:
        - Bid
    post:
      tags:
        - Bid
    put:
      tags:
        - Bid
    delete:
      tags:
        - Bid
  /file:
    get:
      tags:
        - File
    post:
      tags:
        - File
    put:
      tags:
        - File
    delete:
      tags:
        - File
  /art:
    get:
      tags:
        - Art
    post:
      tags:
        - Art
    put:
      tags:
        - Art
    delete:
      tags:
        - Art
  /action:
    get:
      tags:
        - Action
    post:
      tags:
        - Action
    put:
      tags:
        - Action
    delete:
      tags:
        - Action