openapi: 3.0.0
info:
  version: 1.0.0
  title: 'exitgift.shop API'
  description: ''
servers:
  - description: 'exitgift.shop API'
    url: https://back.exitgift.shop:4000
tags:
  - name: User
  - name: File
  - name: Art
  - name: Auction
  - name: Puzzle
  - name: Paddle
  - name: Likes
  - name: Bid
paths:
  /signup:
    post:
      tags:
        - User
  /signin:
    post:
      tags:
        - User
  /signout:
    post:
      tags:
        - User
      parameters:
        - name: body
          description: json
  /account/{uuid}:
    get:
      tags:
        - User
      parameters:
        - name: uuid
          description: uuid

  /file:
    get:
      tags:
        - File
      summary: files list
      description: Returns a file list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/file'
        404 :
          description: file not found
    
  /file/{id}:
    get:
      tags:
        - File
      summary: Find file by ID
      description: Returns a single file
      parameters:
        - name: id
          in: path
          description: ID of file
          required: true
          schema:
            type: integer
      responses:
        200:
          description: binary file (img/ video)
          content:
            image:
              schema:
                type: string
                format: binary
            video:
              schema:
                type: string
                format: binary
        400:
          description: id is required
        404 :
          description: file not found
  /art:
    get:
      tags:
        - Art
      summary: Arts List
      description: Returns a Art List
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/art-list'
        404 :
          description: file not found
    post:
      tags:
        - Art
      summary: Add Art
      description: Returns a Uploaded Art
      requestBody:
        description: Art to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/art-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'

  /art/{uuid}:
    get:
      tags:
        - Art
      summary: Find art by uuid
      description: Returns a single Art
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    put:
      tags:
        - Art
      summary: Update Art
      description: Returns a Updated Art Property
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      requestBody:
        description: Art to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/art-put-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Art
      summary: Delete Art
      description: Returns a Deleted Art Property
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /art/user/{uuid}:
    get:
      tags:
        - Art
      summary: Find art by User uuid
      description: Returns a single Art
      parameters:
        - name: uuid
          in: path
          description: User uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'      
  /auction:
    get:
      tags:
        - Auction
      summary: Auctions List
      description: Returns a Auctions List
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/auction-list'
        404 :
          description: file not found
    post:
      tags:
        - Auction
      summary: Add Auction
      description: Returns a Uploaded Auction
      requestBody:
        description: Auction to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auction-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Auction
      summary: Delete Auction
      description: Returns a Deleted Auction Property
      parameters:
        - name: uuid
          in: path
          description: Auction uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'

  /auction/{uuid}:
    get:
      tags:
        - Auction
      summary: Find Auction by uuid
      description: Returns a single Auction
      parameters:
        - name: uuid
          in: path
          description: Auction uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/art-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    put:
      tags:
        - Auction
      summary: Update Auction
      description: Returns a Updated Auction Property
      parameters:
        - name: uuid
          in: path
          description: Auction uuid
          required: true
          schema:
            type: string
      requestBody:
        description: Auction to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auction-put-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /auction/art/{uuid}:
    get:
      tags:
        - Auction
      summary: Find auction by Art uuid
      description: Returns a single Auction
      parameters:
        - name: uuid
          in: path
          description: Art uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/auction-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json' 
  /puzzle:
    get:
      tags:
        - Puzzle
      summary: puzzles list
      description: Returns a puzzles list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/puzzle-list'
        404 :
          description: puzzle not found
    post:
      tags:
        - Puzzle
      summary: Add Puzzle
      description: Returns a Uploaded puzzle
      requestBody:
        description: puzzle to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/puzzle-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /puzzle/{uuid}:
    get:
      tags:
        - Puzzle
      summary: Find puzzle by uuid
      description: Returns a single Puzzle
      parameters:
        - name: uuid
          in: path
          description: Puzzle uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Puzzle
      summary: Delete Puzzle
      description: Returns a Deleted Puzzle Property
      parameters:
        - name: uuid
          in: path
          description: Puzzle uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /puzzle/auction/{uuid}:
    get:
      tags:
        - Puzzle
      summary: Find puzzle by auction uuid
      description: Returns a puzzles
      parameters:
        - name: uuid
          in: path
          description: puzzle uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /puzzle/user/{uuid}:
    get:
      tags:
        - Puzzle
      summary: Find puzzle by user uuid
      description: Returns a puzzles
      parameters:
        - name: uuid
          in: path
          description: user uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/puzzle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /paddle:
    get:
      tags:
        - Paddle
      summary: paddles list
      description: Returns a paddles list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/paddle-list'
        404 :
          description: paddle not found
    post:
      tags:
        - Paddle
      summary: Add Paddle
      description: Returns a Uploaded paddle
      requestBody:
        description: paddle to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paddle-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paddle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /paddle/{uuid}:
    get:
      tags:
        - Paddle
      summary: Find paddle by uuid
      description: Returns a single paddle
      parameters:
        - name: uuid
          in: path
          description: paddle uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paddle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Paddle
      summary: Delete paddle
      description: Returns a Deleted paddle Property
      parameters:
        - name: uuid
          in: path
          description: paddle uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paddle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /paddle/auction/{uuid}:
    get:
      tags:
        - Paddle
      summary: Find paddle by auction uuid
      description: Returns a paddle
      parameters:
        - name: uuid
          in: path
          description: auction uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/paddle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /paddle/user/{uuid}:
    get:
      tags:
        - Paddle
      summary: Find paddles by user uuid
      description: Returns a paddles
      parameters:
        - name: uuid
          in: path
          description: user uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/paddle-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /bid:
    get:
      tags:
        - Bid
      summary: bids list
      description: Returns a bids list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/bid-list'
        404 :
          description: paddle not found
    post:
      tags:
        - Bid
      summary: Add bid
      description: Returns a Uploaded bid
      requestBody:
        description: bid to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bid-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bid-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /bid/{uuid}:
    get:
      tags:
        - Bid
      summary: Find bid by uuid
      description: Returns a single bid
      parameters:
        - name: uuid
          in: path
          description: bid uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bid-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Bid
      summary: Delete bid
      description: Returns a Deleted paddle Property
      parameters:
        - name: uuid
          in: path
          description: bid uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bid-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /bid/auction/{uuid}:
    get:
      tags:
        - Bid
      summary: Find bid by auction uuid
      description: Returns a bid
      parameters:
        - name: uuid
          in: path
          description: bid uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/bid-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /bid/user/{uuid}:
    get:
      tags:
        - Bid
      summary: Find bids by user uuid
      description: Returns a bids
      parameters:
        - name: uuid
          in: path
          description: user uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/bid-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'






























  /likes:
    get:
      tags:
        - Likes
      summary: likes list
      description: Returns a likes list
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/likes-list'
        404 :
          description: likes not found
    post:
      tags:
        - Likes
      summary: Add likes
      description: Returns a Uploaded likes
      requestBody:
        description: likes to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/likes-post-json'
      responses:
        200:
          description: uploaded json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/likes-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
  /likes/{uuid}:
    get:
      tags:
        - Likes
      summary: Find likes by uuid
      description: Returns a single likes
      parameters:
        - name: uuid
          in: path
          description: likes uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/likes-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
    delete:
      tags:
        - Likes
      summary: Delete likes
      description: Returns a Deleted likes Property
      parameters:
        - name: uuid
          in: path
          description: likes uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: deleted json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/likes-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /likes/auction/{uuid}:
    get:
      tags:
        - Likes
      summary: Find likes by auction uuid
      description: Returns a likes
      parameters:
        - name: uuid
          in: path
          description: auction uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/likes-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'                
  /likes/user/{uuid}:
    get:
      tags:
        - Likes
      summary: Find likes by user uuid
      description: Returns a likes
      parameters:
        - name: uuid
          in: path
          description: user uuid
          required: true
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                type: array
                items:
                $ref: '#/components/schemas/likes-list'
        400:
          description: request err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client-err-json'
        500:
          description: server err
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-err-json'
                
                

components:
  schemas:
    client-err-json:
      type: object
      properties:
        msg:
          type: string
          example: uuid is required
    server-err-json:
      type: object
      properties:
        msg:
          type: string
          example: title already exist

    file:
      type: object
      properties:
        id:
          type: integer
          format: id
          example: 1
        file_name:
          type: string
          example: picture.png

    art-list:
      type: object
      properties:
        art_file_id:
          type: integer
          format: id
          example: 1
        art_artist_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        art_title:
          type: string
          example: test title
        art_desc:
          type: string
          example: test desc
        art_twitter:
          type: string
          example: test twit
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    art-post-json:
      type: object
      properties:
        file_id:
          type: integer
          format: id
          example: 1
        artist_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        title:
          type: string
          example: testTitle
        desc:
          type: string
          example: testDesc
        twitter:
          type: string
          example: testDesc

    art-put-json:
      type: object
      properties:
        desc:
          type: string
          example: testDesc
        twitter:
          type: string
          example: testDesc

    auction-list:
      type: object
      properties:
        art_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        auction_end_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        auction_hammer_price:
          type: number
          example: 10000
        auction_now_price:
          type: number
          example: 1000
        auction_link:
          type: string
          example: "https://exitgift.shop/ongoing"
        auction_start_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    auction-post-json:
      type: object
      properties:
        art_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        start_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        end_time:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        hammer_price:
          type: number
          example: 10000
        now_price:
          type: number
          example: 1000
        link:
          type: string
          example: "https://exitgift.shop/ongoing"

    auction-put-json:
      type: object
      properties:
        hammer_price:
          type: number
          example: 200000
        now_price:
          type: number
          example: 1000

    puzzle-list:
      type: object
      properties:
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        puzzle_auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        puzzle_user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        puzzle_price:
          type: number
          example: 10000
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    puzzle-post-json:
      type: object
      properties:
        auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        price:
          type: number
          example: 1000

    paddle-list:
      type: object
      properties:
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        paddle_auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        paddle_user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        paddle_price:
          type: number
          example: 10000.12345678
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    paddle-post-json:
      type: object
      properties:
        auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        price:
          type: number
          example: 9999          

    bid-list:
      type: object
      properties:
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        bid_auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        bid_user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        bid_price:
          type: number
          example: 10000.12345678
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    bid-post-json:
      type: object
      properties:
        auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        price:
          type: number
          example: 9999 

          
    likes-list:
      type: object
      properties:
        uuid:
          type: string
          example: e44f21af-a7c3-4c64-bf26-6c10edd4d0c3
        likes_auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        likes_user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        createdAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"
        updatedAt:
          type: string
          example: "2021-03-19T04:54:36.000Z"

    like-post-json:
      type: object
      properties:
        auction_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79
        user_uuid:
          type: string
          example: 82865d2f-26b8-4611-85f1-933643995e79